.form{
	
	padding: 0 1rem 1rem 1rem;
	// pseudo-classes

	// mods
	&--{
		&outside{
			padding: 0;
		}
	}
	// pseudo-elements
	
	// elements
	&__{
		&input{
			box-sizing: border-box;
			width: 100%;
			height: 2.375rem;
			padding: 0 1.25rem;
			margin-bottom: 0.75rem;
			border: 1px solid rgba(55, 65, 64, 0.5);
			box-shadow: 0 0 0 rgba(0, 2, 4, 0.13);
			font-family: $font-family--primary;
			font-weight: 400;
			font-size: 0.875rem;
			color: $color__font--primary;
			&--textarea{
				max-width: 100%;
				min-width: 100%;
				min-height: 4.25rem;
				line-height: 2.375rem;
			}
		}
		&checkbox{
			display: none;
			&:checked + label:before{
				background-color: $color--primary;
			}
		}
		&label{
			position: relative;
			margin-left: 26px;
			color: $color__font--primary;
			font-family: $font-family--primary;
			font-size: 0.875rem;
			cursor: pointer;
			&:before{
				box-sizing: border-box;
				content: "";
				position: absolute;
				top: 50%;
				right: 100%;
				transform: translate(0, -50%);

				width: 0.875rem;
				height: 0.875rem;
				padding: 2px;
				border: 1px solid rgba(85, 85, 85, 0.6);
				margin-right: 0.5rem;
				border-radius: 2px;
				background-color: $color--secondary;
				background-clip: content-box;
			}
		}
		&select{
			width: 100%;
			height: 2.375rem;
			padding: 0 1.25rem;
			border: 1px solid rgba(55, 65, 64, 0.5);
			font-family: $font-family--primary;
			font-weight: 400;
			font-size: 0.875rem;
			color: $color__font--primary;
			cursor: pointer;
			&:hover{
				box-shadow: 0 0 2px $color--primary;
 			}
		}
		&button{
			width: 100%;
			height: 2.75rem;
			background-color: $color--primary;
			box-shadow: 0 0 9px rgba(0, 0, 0, 0.28);
			border-radius: 5px;
			font-size: 1.125rem;
			&:hover{
				text-decoration: underline;
			}
			&--{
				&bold{
					font-weight: 700;
					&:hover{
						text-decoration: none;
						background-color: $color__gray;
					}
				}
			}
		}
	}
}