.g-doc{
	font-size: $rem;
	&--amp{
		font-size: 16px;
		@media(--tablet-less){
			font-size: 12px;
		}
	}
	@media(--tablet-only){
		font-size: 10px;
	}
	@media(--desktop-only){
		font-size: 12px;
	}
	@media(--widedesktop-only){
		font-size: 14px;
	}
	&._ar{
		transform: scale(-1, 1);
		writing-mode: rl-tb;
	}
}