<form action="" class="places">
    <div class="places__header">
        <div class="places__header-button places__header-button--chat button">Контакты</div>
        <div class="places__header-button places__header-button--chat button">Последние</div>
    </div>
    <div class="places__body">
        <import src="chat"></import>
    </div>
</form>