.g-errors{

	/*elements*/
	&__{
        &item{
            display: none;
            position: fixed;
            z-index: 10000;
            top: 0;
            right: 0;
            left: 0;
            box-sizing: border-box;
            background: #d63f3f;
            padding: 0 1.25rem;
            text-align: center;
            font-size: 1.125rem;
            font-weight: 700;
            line-height: 2rem;
            opacity: 1;
        }
        &popup{
            bottom: 0;
            padding: 10% 0;
        }
        &old{
            .u-support--no-csstransforms &,
            .u-support--no-csscalc &,
            .u-support--no-flexbox &
            {
                display: block;
            }
        }
    }
	.u-support--no-flexbox .g-page > :not(&){
		display: none;
	}
}