<div class="area">
    <div class="area__body"></div>
    <div class="area__temp">
        <div class="area__temp-body">
            32
            <span class="area__temp-unit">c</span>
        </div>
    </div>
    <div class="area__feature">
        <svg class="area__icon">
            <use xlink:href="#b-svg__sun"></use>
        </svg>
    </div>
</div>