<div class="footer">
    <div class="footer__left">
        <a href="#" class="footer__logo">
            <svg class="footer__logo-icon">
                <use xlink:href="#b-svg__logo2"></use>
            </svg>
        </a>
        <div class="footer__langs">
            <a href="#" class="footer__lang footer__lang--en">en</a>
            <a href="#" class="footer__lang footer__lang--ar">ar</a>
        </div>
    </div>
    <div class="footer__menu">
        <div class="footer__menu-item footer__menu-item--apps">
            <div class="footer__menu-cat">Карта в телефоне</div>
            <div class="footer__menu-apps">
                <a href="#" class="footer__menu-applink">
                    <svg class="footer__appicon">
                        <use xlink:href="#b-svg__share"></use>
                    </svg>
                </a>
                <a href="#" class="footer__menu-applink">
                    <svg class="footer__appicon">
                        <use xlink:href="#b-svg__share"></use>
                    </svg>
                </a>
                <a href="#" class="footer__menu-applink">
                    <svg class="footer__appicon">
                        <use xlink:href="#b-svg__share"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="footer__menu-item">
            <div class="footer__menu-cat">Разработчикам</div>
            <div class="footer__submenu">
                <a href="#" class="footer__menu-link">Пункт меню</a>
                <a href="#" class="footer__menu-link">Пункт меню</a>
                <a href="#" class="footer__menu-link">Пункт меню</a>
                <a href="#" class="footer__menu-link">Пункт меню </a>
            </div>
        </div>
        <a href="#" class="footer__menu-item">
            <div class="footer__menu-cat">Услуги</div>
        </a>
        <div class="footer__menu-item">
            <div class="footer__menu-cat">Рекламодателям</div>
            <div class="footer__submenu">
                <a href="#" class="footer__menu-link">Пункт меню</a>
                <a href="#" class="footer__menu-link">Пункт меню</a>
                <a href="#" class="footer__menu-link">Пункт меню</a>
                <a href="#" class="footer__menu-link">Пункт меню </a>
            </div>
        </div>
        <div class="footer__menu-item">
            <div class="footer__menu-cat">Нашли ошибку?</div>
            <div class="footer__submenu">
                <a href="#" class="footer__menu-link">Длинный Пункт меню</a>
                <a href="#" class="footer__menu-link">Пункт меню</a>
                <a href="#" class="footer__menu-link">Пункт меню</a>
                <a href="#" class="footer__menu-link">Пункт меню </a>
            </div>
        </div>
    </div>
    <div class="footer__action">
        <a href="#" class="footer__action-link">
            <div class="footer__action-text">Пункт меню</div>
            <div class="footer__action-img">
                <svg class="footer__links-icon">
                    <use xlink:href="#b-svg__print"></use>
                </svg>
            </div>
        </a>
        <a href="#" class="footer__action-link">
            <div class="footer__action-text">Пункт меню</div>
            <div class="footer__action-img">
                <svg class="footer__links-icon">
                    <use xlink:href="#b-svg__download"></use>
                </svg>
            </div>
        </a>
        <a href="#" class="footer__action-link">
            <div class="footer__action-text">Пункт меню</div>
            <div class="footer__action-img">
                <svg class="footer__links-icon">
                    <use xlink:href="#b-svg__link"></use>
                </svg>
            </div>
        </a>
    </div>
</div>
