<div class="place place--second">
    <div class="place__box">
        <img src=":100x100" alt=""  class="place__preview">
    </div>
    <div class="place__links">
        <import src="links--first"></import>
    </div>
</div>