.place{

	box-sizing: border-box;
	z-index: 10;
	size: 6.5rem;
	overflow: hidden;

	box-shadow: 0 0 9px rgba(0, 2, 4, 0.28);
	cursor: pointer;
	@media(--tablet-less){
		size: 3rem;
	}
	// pseudo-classes
	&:hover &__links{
		@media(--tablet-more){
			display: block;
		}
	}
	// mods

	// pseudo-elements
	// elements
	&__{
		&box{
			size: calc(6.5rem - 4px);

			position: relative;
			border-radius: $radius--secondary;
			overflow: $overflow--secondary;

			border: 2px solid $color--primary;
			&:after{
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;

				border-bottom: 1.375rem solid $color--primary;
				border-right: 1.375rem solid transparent;
				@media(--tablet-less){
					border: none;
					z-index: -1;
					border-top: 8px solid transparent;
					border-bottom: 8px solid transparent;
					border-right: 20px solid  $color--primary;
					transform: rotate(-45deg) translate(-70%, -10%);
				}
			}
		}
		&preview{
			size: calc(6.5rem - 4px);
			@media(--tablet-less){
				width: 100%;
				height: 100%;
			}
		}
		&links{
			position: absolute;
			top: $radius--secondary;
			left: calc(100% - 2px);

			padding-left: 2px;
			@media(--tablet-more){
				display: none;
			}
			@media(--tablet-less){
				display: none;
			}
		}
	}
}