<div class="authorization">
    <a href="#" class="authorization__singup">Создать учетную запись</a>
    <div class="authorization__singin">
        <div class="authorization__singin-button">Вход</div>
        <div class="authorization__singin-window">
            <import src="popover--singin"></import>
        </div>
    </div>
</div>