$margin : 1rem;
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	// pseudo-classes

	// mods

	// pseudo-elements
	
	// elements
	&__{
		&main{
		}
		&mobile{
			display: none;
			@media(--tablet-less){

				box-sizing: border-box;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				z-index: 10;

				display: flex;
				justify-content: space-between;
				align-items: center;

				padding: $margin;
				&-{
					&left{
						display: flex;
						align-items: center;
					}
				}
			}
		}
		&menu{
			color: $color--primary;
			cursor: pointer;
			&-{
				&icon{
					max-width: 2rem;
					max-height: 2rem;
					fill: currentColor;
				}
			}
		}
		&title{
			display: flex;
			align-items: center;
			margin-left: 1rem;

			color: $color__font--primary;
			font-size: 1rem;
			font-weight: 700;
			text-transform: uppercase;
			&-{
				&text{
				}
				&icon{
					display: none;
					max-width: 5rem;
					max-height: 2rem;
				}
			}
		}
		&actions{
			display: flex;
			align-items: center;
		}
		&button{
			size: 2rem;
			color: $color--primary;
			cursor: pointer;
			&:not(:last-child){
				margin-right: 0.5rem;
			}
			&-{
				&icon{
					max-width: 2rem;
					max-height: 2rem;
					fill: currentColor;
				}
			}
		}
	}
}