<div class="header">
    <div class="header__sidebar">
        <import src="sidebar"></import>
    </div>
    <div class="header__main">
        <div class="header__mobile">
            <div class="header__mobile-left">
                <div class="header__menu">
                    <svg class="header__menu-icon">
                        <use xlink:href="#b-svg__share"></use>
                    </svg>
                </div>
                <div class="header__title">
                    <div class="header__title-text">Места и организации</div>
                    <svg class="header__title-icon">
                        <use xlink:href="#b-svg__share"></use>
                    </svg>
                </div>
            </div>
            <div class="header__actions">
                <div class="header__button header__button--search">
                    <svg class="header__button-icon">
                        <use xlink:href="#b-svg__share"></use>
                    </svg>
                </div>
                <div class="header__button">
                    <svg class="header__button-icon">
                        <use xlink:href="#b-svg__share"></use>
                    </svg>
                </div>
                <div class="header__button header__button--auth">
                    <svg class="header__button-icon">
                        <use xlink:href="#b-svg__share"></use>
                    </svg>
                </div>
            </div>
        </div>
        <import src="search"></import>
    </div>
    <div class="header__authorization">
        <import src="authorization"></import>
    </div>
</div>
