.recall{
	
	// pseudo-classes

	// mods

	// pseudo-elements
	
	// elements
	&__{
		&title{
			text-align: center;
			line-height: 2.5rem;
			font-size: 1.25rem;
			background-color: color($color__gray3 a(0.75));
			color: $color__font--secondary;
		}
		&body{
		}
	}
}