<div class="popover popover--add-friend _active">
    <div class="popover__head">
        <div class="popover__action">
            <div class="popover__action-button popover__action-button--minus">
                <svg class="popover__action-icon popover__action-icon--minus">
                    <use xlink:href="#b-svg__minus"></use>
                </svg>
            </div>
            <div class="popover__action-button popover__action-button--cross">
                <svg class="popover__action-icon">
                    <use xlink:href="#b-svg__cross"></use>
                </svg>
            </div>
        </div>
        <div class="popover__title">Добавить объект</div>
    </div>
    <div class="popover__body">
        <form action="" class="add-friend form">
            <input type="text" class="form__input" placeholder="Название">
            <textarea name="" id="description" cols="30" rows="10" class="
            form__input form__input--textarea" placeholder="Описание"></textarea>
            <button class="add-friend__button button form__button">ДОБАВИТЬ</button>
        </form>
    </div>
</div>