$margin : 1rem;
$margin-big : 4rem;
$radius : 0.8rem;

.popover{

	position: relative;
	z-index: 2;
	width: 20rem;
	margin-top: 0.875rem;
	border: 1px solid #d4d4d4;
	box-shadow: 0 1rem 1.25rem rgba(1, 1, 1, 0.15);
	@media(--tablet-less){
		width: 100%;
		margin-top: $margin-big;
		margin-left: $margin;
		border-top-left-radius: $radius
	}
	&:after{

		position: absolute;
		bottom: 100%;
		width: 0;
		height: 0;

		border-bottom: 0.75rem solid $color--primary;
		border-left: 0.75rem solid transparent;
		border-right: 0.75rem solid transparent;
		@media(--tablet-less){
			display: none;
		}
	}
	&:not(._active) &__body{
		display: none;
	}
	// pseudo-classes

	// mods
	&--{
		&tracking{
			margin-top: 1.25rem;
			&:after{
			content: "";
				left: 5.25rem;
			}
		}
		&friends{
			margin-top: 1.25rem;
			&:after{
			content: "";
				left: 9.25rem;
			}
		}
		&places{
			margin-top: 1.25rem;
			&:after{
			content: "";
				left: 1.25rem;
			}
		}
		&route{
			margin-top: 1.25rem;
			&:after{
			content: "";
				right: 5.25rem;
			}
		}
		&singin{
			margin-top: 2rem;
			@media(--tablet-less){
				margin-left: 0;
				background-color: transparent;
				border: none;
				box-shadow: none;
				.popover__action{
					display: none;
				}
				.popover__title{
					text-transform: uppercase;
					color: $color__font--secondary;
				}
			}
			&:after{
				right: 2.25rem;
				content: "";
			}
		}
		&weather{
			margin-top: 1.25rem;
			&:after{
				right: 1.25rem;
				content: "";
			}
		}
	}
	// pseudo-elements

	// elements
	&__{
		&head{
			border-top-left-radius: $radius--secondary;
			border-top-right-radius: $radius--secondary;
			overflow: $overflow--secondary;

			position: relative;
			background-color: $color--secondary;
		}
		&action{
			position: absolute;
			top: 1rem;
			right: 0.875rem;

			display: flex;
			align-items: center;
			&-{
				&button{
					display: flex;
					align-items: center;
					width: 0.875rem;
					height: 0.875rem;
					color: $color__gray--lighter;
					cursor: pointer;
					&:not(:last-child){
						margin-right: 0.625rem;
					}
					&:hover{
						color: $color--primary;
					}
				}
				&icon{
					max-width: 0.875rem;
					max-height: 0.875rem;

					fill: currentColor;
					&--{
						&minus{
							max-height: 3px;
						}
					}
				}
			}
		}
		&title{
			padding: 0.625rem 0 1rem;
			text-align: center;
			color: $color__font--primary;
			font-size: 1.25rem;
		}
		&body{
			background-color: $color--secondary;
			border-bottom-left-radius: $radius--secondary;
			border-bottom-right-radius: $radius--secondary;
			// overflow: $overflow--secondary;
		}
	}
}
