<div class="popover popover--add-friend _active">
    <div class="popover__head">
        <div class="popover__action">
            <div class="popover__action-button popover__action-button--minus">
                <svg class="popover__action-icon popover__action-icon--minus">
                    <use xlink:href="#b-svg__minus"></use>
                </svg>
            </div>
            <div class="popover__action-button popover__action-button--cross">
                <svg class="popover__action-icon">
                    <use xlink:href="#b-svg__cross"></use>
                </svg>
            </div>
        </div>
        <div class="popover__title">Добавить друга</div>
    </div>
    <div class="popover__body">
        <import src="add-friend"></import>
    </div>
</div>