$margin : 1rem;
$margin-big : 4rem;
$radius : 0.8rem;

.sidebar{
	position: relative;
	@media(--tablet-more){
		z-index: 1;
	}
	@media(--tablet-less){
		position: fixed;
		top: $margin-big;
		right: 0;
		width: calc(100% - $margin);
		max-width: 480px;
		height: 100vh;
	}
	&._active{
		z-index: 10;
	}
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&head{
			display: flex;
			@media(--tablet-less){
				position: relative;
				display: block;
				height: 100%;
				&:not(._active){
					opacity: 0;
					visibility: hidden;
				}
			}
		}
		&body{

			position: absolute;
			top: 100%;
			right: 0;
			width: 100%;
			@media(--tablet-less){
				position: fixed;
				top: 0;
				right: $margin;
				width: calc(100% - $margin);
				max-width: 480px;
				&:not(._active){
					opacity: 0;
					visibility: hidden;
				}
			}
		}
		&category{
			&-{
				&content{
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					@media(--tablet-less){
						justify-content: space-between;
						height: 4rem;
					}
				}
				&preview{

					border-radius: $radius--secondary;

					position: relative;
					width: 3.9rem;
					height: 3.9rem;

					display: flex;
					justify-content: center;
					align-items: center;
					margin: 1px;

					background-color: $color__font--primary;
					counter-increment: item;
					@media(--tablet-less){
						box-sizing: border-box;
						width: 100%;
						height: auto;
						justify-content: space-between;
						padding: 0 $margin;
						background-color: transparent;
						border: none;
						border-top-left-radius: $radius;
					}
					&:before{
						@media(--tablet-less){
							content: "";
							z-index: -1;
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							height: 100vh;
							background-color: $color--primary;
							box-shadow: -5px -5px 20px rgba(1, 1, 1, 0.3);
							border-top-left-radius: $radius;
						}
					}
					&:nth-child(2){
						@media(--tablet-less){
							width: calc(100% - $margin);
							margin-left: $margin;
						}
					}
					&:nth-child(3){
						@media(--tablet-less){
							width: calc(100% - 2rem);
							margin-left: 2rem;
						}
					}
					&:nth-child(4){
						@media(--tablet-less){
							width: calc(100% - 3rem);
							margin-left: 3rem;
						}
					}
					&:nth-child(5){
						@media(--tablet-less){
							width: calc(100% - 4rem);
							margin-left: 4rem;
						}
					}

					&._active{
						&:after{
							z-index: 2;
							content: "";
							background-color: $color--primary;
							transform: scale(1.2);
							border-radius: 5px;
							@media(--tablet-less){
								display: none;
							}
						}
					}
					&._active &icon{
						z-index: 3;
					}
					&:not(._active){
						cursor: pointer;
					}
					&:after{
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						transition: $animation__duration;
					}
				}
				&preview._active &icon{
					z-index: 3;
				}
				&icon{
					position: relative;
					max-width: 2.75rem;
					max-height: 2.75rem;
					fill: currentColor;
					color: $color__font--secondary;
					@media(--tablet-less){
						max-width: 1.75rem;
						max-height: 1.75rem;
					}
				}
				&name{
					display: none;
					@media(--tablet-less){
						display: block;
						font-size: 1.125rem;
						font-weight: 700;
						text-transform: uppercase;
						color: $color__font--secondary;
					}
				}
				&body{
					display: none;
					&._active{
						display: block;
						background-color: #fff;
					}
				}
			}
		}
	}
}
