<div class="tracking">
    <div class="tracking__body">
        <div class="tracking__item tracking__item--first">
            <import src="place--first"></import>
        </div>
        <div class="tracking__item tracking__item--second">
            <import src="place--second"></import>
        </div>
        <div class="tracking__item tracking__item--third">
            <import src="place--third"></import>
        </div>
        <div class="tracking__links">
            <import src="links--third"></import>
        </div>
    </div>
</div>