.singin{
	// pseudo-classes
	@media(--tablet-less){
		padding: 0;
	}
	// mods

	// pseudo-elements
	
	// elements
	&__{
		&forget{
			text-align: right;
			font-size: 0.875rem;
			&-{
				&link{
					color: $color__font--primary;
					@media(--tablet-less){
						color: $color__font--secondary;
					}
					&:hover{
						text-decoration: none;
					}
				}
			}
		}
		&save{
			@media(--tablet-less){
				display: none;
			}
		}
		&button{
			max-width: 10rem;
			@media(--tablet-less){
				max-width: 100%;
				text-transform: uppercase;
			}
		}
		&bottom{
			display: flex;
			justify-content: space-between;
			align-items: center;

			margin-top: 2rem;
		}
	}
}