.route{

	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&wrap{
			margin: 1rem;
		}
		&pointicon{
			position: relative;
			width: 2rem;
			min-width: 2rem;
			z-index: 11;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 0.25rem;
			&._active &-icon{
				width: 3rem;
				height: 3rem;
				min-width: 3rem;
				min-height: 3rem;
			}
			&-{
				&icon{
					width: 2rem;
					height: 2rem;
					min-width: 2rem;
					min-height: 2rem;
					fill: currentColor;
					color: $color--primary;
				}
			}
		}
		&link{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0.5rem 1rem;
			background-color: $color--primary;
			&._active &-input{
				display: block;
			}
			&-{
				&button{
					cursor: pointer;
				}
				&icon{
					max-width: 0.75rem;
					max-height: 0.75rem;
					fill: currentColor;
					color: $color--secondary;
				}
				&input{
					display: none;
					box-sizing: border-box;
					width: calc(100% - 1.75rem);
					padding: 0 0.5rem;
					margin-left: 1rem;
					line-height: 2rem;
					background-color: $color--secondary;
					border-radius: $radius--secondary;
				}
			}
		}
		&checkbox{
			margin-top: 1rem;
			&-{
				&input{
					display: none;
				&:checked + label:after{
					background-color: $color--primary;
				}
				}
				&label{
					position: relative;
					padding-left: 1.5rem;
					font-size: 0.875rem;
					cursor: pointer;
					&:after{
						box-sizing: border-box;
						content: "";
						position: absolute;
						top: 50%;
						left: 0;
						size: 0.75rem;
						padding: 0.125rem;
						transform: translate(0, -50%);
						border-radius: 0.125rem;
						box-shadow: 0 0 0 1px $color--primary;
						background-clip: content-box;
					}
					&:checked
				}
			}
		}
		&head{
			display: flex;
			justify-content: center;
		}
		&body{
			margin: 1.5rem 0.5rem 0 0.5rem;
		}
		&type{
			display: flex;
			justify-content: center;
			align-items: center;
			size: 2.75rem;
			border-radius: 50%;
			background-color: color($color__font--primary a(25%));
			color: #374140;;
			cursor: pointer;
			&:not(:last-child){
				margin-right: 0.625rem;
			}
			&:hover{
				background-color: $color--primary;
				color: $color--secondary;
			}
			&-{
				&icon{
					max-width: 1.5rem;
					max-height: 1.5rem;
					fill: currentColor;
				}
			}
		}
		&info{
			display: none;

			z-index: 2;
			position: absolute;
			top: 0;
			right: 100%;
			margin-right: 0.5rem;

			padding: 0.3rem 0.5rem 0.5rem 0.5rem;
			text-align: left;
			font-size: 0.875rem;
			line-height: 1rem;
			background-color: $color__gray2;
			border-radius: 5px;
			white-space: nowrap;
			&:after{
				content: "";
				position: absolute;
				top: 5px;
				left: 100%;
				border-top: 6px solid transparent;
				border-bottom: 6px solid transparent;
				border-left: 8px solid $color__gray2;
			}
		}
		&point{
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 2.375rem;
			cursor: pointer;
			user-select: none;
			&:not(:first-child){
				margin-top: 1.25rem;
			}
			&:last-child .route__revers{
				display: none;
			}
			&:last-child .route__point-lenght{
				display: none;
			}
			&-{
				&index{
					display: flex;
					justify-content: center;
					align-items: center;
					size: 2.375rem;
					background-color: $color--primary;

					color: $color__font--secondary;
					font-size: 1.5rem;
					font-weight: 700;
				}
				&area{
					box-sizing: border-box;
					width: 100%;
					height: 100%;
					background-origin: border-box;
					position: relative;
					border: 1px solid rgba(55, 65, 64, 0.5);
					box-shadow: 0 0 0 rgba(0, 2, 4, 0.13);
				}
				&input{
					box-sizing: border-box;
					width: 100%;
					height: 100%;
					border: none;
					padding: 0 2rem 0 0.375rem;
					overflow-wrap: break-word;
					text-overflow: ellipsis;
					pointer-events: all;
				}
				&actions{
					position: absolute;
					top: 50%;
					right: 0.25rem;
					transform: translate(0, -50%);

					display: flex;
					align-items: center;
				}
				&button{
					position: relative;
					size: 1.25rem;
					text-align: center;
					line-height: 1.25rem;
					color: $color--secondary;
					background-color: color($color--primary a(50%));
					cursor: pointer;
					border-radius: 50%;
					&:not(:last-child){
						margin-right: 0.25rem;
					}
					&:hover{
						background-color: $color--primary;
					}
				}
				&button:hover .route__info{
					display: block;
				}
				&icon{
					max-width: 0.75rem;
					max-height: 0.75rem;
					fill: currentColor;
				}
				&lenght{
					position: absolute;
					top: 100%;
					left: 0;

					width: 4.375rem;
					margin-top: 1px;
					line-height: 1.25rem;
					text-align: center;

					background-color: $color__gray;
					color: $color__font--secondary;
					font-size: 0.625rem;
				}
			}
		}
		&revers{
			position: absolute;
			top: 100%;
			right: 0;

			margin-top: 1px;
			color: $color__gray--light;
			cursor: pointer;
			&-{
				&icon{
					max-width: 1.25rem;
					max-height: 1.25rem;
					fill: currentColor;
					transform: rotate(90deg);
				}
			}
		}
		&actions{
			display: flex;
			justify-content: space-between;
			margin-top: 1rem;
			&-{
				&item{
					font-size: 0.875rem;
					color: $color__font--primary;
					cursor: pointer;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
		&button{
			margin-top: 2rem;
			text-align: center;
			&:focus{
				background-color: $color__gray2;
			}
		}
	}
}
