.amp-carousel-button-prev {
  left: 5%;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12600 16800"><path d="M9975 11550c-550 0-1062 170-1485 460L5080 9329c109-289 170-600 170-929 0-336-66-658-180-954l3359-2698c432 315 968 502 1546 502 1450 0 2625-1175 2625-2625S11425 0 9975 0C8523 0 7350 1175 7350 2625c0 299 49 587 142 854L4082 6217c-414-279-917-443-1456-443C1175 5774 1 6949 1 8399s1174 2625 2625 2625c547 0 1061-168 1483-457l3410 2680c-109 289-168 602-168 927 0 1450 1173 2625 2625 2625 1450 0 2625-1175 2625-2625s-1175-2625-2625-2625m0 0z"/></svg>');
}
.amp-carousel-button-next {
  right: 5%;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12600 16800"><path d="M9975 11550c-550 0-1062 170-1485 460L5080 9329c109-289 170-600 170-929 0-336-66-658-180-954l3359-2698c432 315 968 502 1546 502 1450 0 2625-1175 2625-2625S11425 0 9975 0C8523 0 7350 1175 7350 2625c0 299 49 587 142 854L4082 6217c-414-279-917-443-1456-443C1175 5774 1 6949 1 8399s1174 2625 2625 2625c547 0 1061-168 1483-457l3410 2680c-109 289-168 602-168 927 0 1450 1173 2625 2625 2625 1450 0 2625-1175 2625-2625s-1175-2625-2625-2625m0 0z"/></svg>');
}