$margin : 1rem;
$margin-big : 4rem;
$radius : 0.8rem;

.card{
	border-radius: $radius--secondary;
	overflow: $overflow--secondary;
	
	position: fixed;
	z-index: 2;

	top: 50%;
	right: 5rem;
	transform: translate(0, -50%);

	width: 24rem;

	background-color: $color--secondary;
	@media(--tablet-less){
		top: $margin-big;
		right: 0;
		transform: translate(0, 0);
		max-width: calc(100% - $margin);
		border-top-left-radius: $radius;
		overflow: hidden;
	}
	// pseudo-classes
	&:not(._active){
		display: none;
	}
	// mods
	// pseudo-elements
	
	// elements
	&__{
		&head{
			position: relative;
		}
		&body{
			&:not(._active){
				display: none;
			}
		}
		&plus{
			display: flex;
			justify-content: center;
			align-items: center;

			width: 2.125rem;
			height: 2.125rem;

			position: absolute;
			top: 0;
			left: 0;

			background-color: $color--primary;
			color: $color__font--secondary;
			&-{
				&icon{
					max-width: 1rem;
					max-height: 1rem;
					fill: currentColor;
				}
			}
		}
		&title{
			margin: 0 auto;
			&--{
				&fix{
					max-width: 60%;
					color: $color--primary;
					text-align: center;
					font-size: 1.25rem;
				}
				&amp{
					font-size: 2.25rem;
					@media(--tablet-less){
						margin-top: 1rem;
						text-align: center;
						color: $color--primary;
						margin-bottom: 2rem;
					}
				}
			}
		}
		&main-info{
			position: relative;
			padding: 0 1.25rem;
			font-size: 0.875rem;
			color: color($color__font--primary a(0.75));
			&--{
				&amp{
					padding: 0;
					@media(--tablet-more){
						display: flex;
						flex-direction: column-reverse;
						justify-content: flex-end;
						width: 60%;
						padding: 0;
					}
				}
			}
		}
		&more{
			display: block;
			
			position: absolute;
			bottom: 1.5rem;
			right: 0;

			width: 8rem;
			line-height: 2rem;
			text-align: center;
			font-size: 0.75rem;

			border-top-left-radius: 1rem;
			border-bottom-left-radius: 1rem;
			
			background-color: $color--primary;
			color: $color__font--secondary;
			text-decoration: none;
			@media(--tablet-less){
				width: 6rem;
				line-height: 1.5rem;
			}
			&:hover{
				text-decoration: underline;
			}
			&:focus{
				background-color: $color__gray2;
			}
		}
		&address{
			display: block;
			margin-top: 1.75rem;
			font-style: italic;
			color: $color--primary;
			&:hover{
				text-decoration: none;
			}
			&--{
				&amp{
					@media(--tablet-more){
						margin-bottom: 2rem;
					}
				}
			}
		}
		&lists{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 1.25rem;
			margin-top: 1.75rem;
			@media(--tablet-less){
				padding: 0;
				margin-top: 0.5rem;
				margin-bottom: 0.5rem;
			}
			&--{
				&amp{
					@media(--tablet-less){
						flex-direction: row;
					}
				}
			}
		}
		&time{
			display: flex;
			&-{
				&img{
					width: 1rem;
					margin-right: 0.5rem;
					line-height: 2rem;
				}
				&icon{
					max-width: 1rem;
					max-height: 1rem;
					fill: currentColor;
				}
			}
		}
		&links{
			display: flex;
			max-width: 100%;
		}
		&link{
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 1.25rem;
			width: 40%;

			line-height: 2.5rem;
			white-space: nowrap;
			background-color: $color--primary;
			color: $color__font--secondary;

			font-size: 0.875rem;
			text-decoration: none;
			text-transform: uppercase;
			@media(--tablet-less){
				font-size: 0.75rem;
				padding: 0 0.75rem;
			}
			&:not(:last-child){
				width: 60%;
				border-right: 1px solid $color__white;
			}
			&:hover{
				text-decoration: underline;
			}
			&:focus{
				background-color: $color__gray2;
			}
			&-{
				&img{
					line-height: 2.5rem;
					margin-right: 1rem;
				}
				&icon{
					vertical-align: middle;
					max-width: 1.375rem;
					max-height: 1.375rem;
					fill: currentColor;
				}
			}
		}
		&section{
			&--{
				&head{
					@media(--tablet-more){
						padding: 3rem 0;
						margin-bottom: 2rem;
						background-color: $color--primary;
						color: $color__white;
					}
				}
			}
		}
		&wrap{
			max-width: 1300px;
			@media(--desktop-only){
				max-width: 980px;
			}
			@media(--tablet-only){
				max-width: 700px;
			}
			@media(--tablet-less){
				max-width: 384px;
				padding: 0 2rem;
			}
			margin: 0 auto;
			&--{
				&body{
					@media(--tablet-more){
						display: flex;
						justify-content: space-between;
					}
				}
			}
		}
	}
}