.links{
	display: flex;
	
	// pseudo-classes

	// mods

	// pseudo-elements
	
	// elements
	&__{
		&link{
			display: flex;
			justify-content: center;
			align-items: center;
			size: 1.5rem;
			color: $color__font--secondary;
			background-color: color($color__gray a(50%));
			text-decoration: none;
			&--plus{
				background-color: $color--primary;
			}
			&--mail{
				background-color: $color__gray;
				color: $color__font--secondary;
			}
			&:hover{
				background-color: $color--primary;
			}
		}
		&icon{
			max-width: 0.75rem;
			max-height: 0.75rem;
			fill: currentColor;
		}
	}
}