.access{

	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&link{
			margin-top: 1rem;
		}
		&name{
			color: $color__gray--light;
		}
		&inline{
			display: flex;
			align-items: center;
			margin-top: 0.5rem;
		}
		&space{
			box-sizing: border-box;
			padding:  0 1rem;
			line-height: 2.5rem;
			width: 100%;
			box-shadow: inset 0 0 0 1px $color__gray--lighter;
			color: $color__gray--lighter;
		}
		&button{
			box-sizing: border-box;
			width: 8rem;
			line-height: 2.5rem;
			font-size: 0.875rem;
			background-color: $color--primary;
			color: $color__font--secondary;
			text-align: center;
		}
		&social{
			display: flex;
			margin-top: 0.5rem;
			&-{
				&link{
					display: flex;
					justify-content: center;
					align-items: center;
					size: 1.5rem;
					background-color: $color--primary;
					&:not(:last-child){
						margin-right: 0.25rem;
					}
				}
				&icon{
					max-width: 1rem;
					max-height: 1rem;
					fill: currentColor;
					color: $color--secondary;
				}
			}
		}
		&bottom{
			display: flex;
			justify-content: flex-end;
		}
		&ready{
			margin-top: 2rem;
			width: 8rem;
			line-height: 2.5rem;
			font-size: 0.875rem;
			text-align: center;
			text-transform: uppercase;
			border-radius: 0.5rem;
		}
	}
}
