<div class="access">
	<div class="access__body">
		<div class="access__link">
			<div class="access__name">Доступ по ссылке</div>
			<div class="access__inline">
				<div class="access__space">http://joxi.ru/gmvOVBZFG6dW2a</div>
				<div class="access__button">скопировать</div>
			</div>
		</div>
		<div class="access__link">
			<div class="access__name">Отправить по почте</div>
			<div class="access__inline">
				<div class="access__space">http://joxi.ru/gmvOVBZFG6dW2a</div>
				<div class="access__button">отправить</div>
			</div>
		</div>
		<div class="access__link">
			<div class="access__name">Поделиться в социальных сетях</div>
			<div class="access__social">
				<a href="#" class="access__social-link" repeat="5">
					<svg class="access__social-icon">
						<use xlink:href="#b-svg__sun"></use>
					</svg>
				</a>
			</div>
		</div>
	</div>
	<div class="access__bottom">
		<div class="access__ready button">Готово</div>
	</div>
</div>
