<div class="gallery">
    <form class="gallery__add">
        <div class="gallery__add-img">
            <svg class="gallery__add-icon">
                <use xlink:href="#b-svg__photo"></use>
            </svg>
        </div>
        <div class="gallery__add-text">добавить фото</div>
        <input type="file" class="gallery__file">
    </form>
    <div class="gallery__body">
        <a href="#" class="gallery__item">
            <img src=":280x104" alt="">
        </a>
    </div>
</div>