.gallery{
	display: flex;
	align-items: center;
	// pseudo-classes

	// mods
	&--{
		&amp{
			.gallery__body{
				height: 13rem;
			}
			.gallery__item{
				display: none;

				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			[id^="item"] {
				display: none;
			}
			.gallery__item--1 {
				display: block;
			}
			*:target ~ .gallery__item--1 {
				display: none;
			}
			#item-1:target ~ .gallery__item--1 {
				display: block;
			}
			#item-2:target ~ .gallery__item--2, #item-3:target ~ .gallery__item--3 {
				display: block;
			}
		}
	}
	// pseudo-elements
	
	// elements
	&__{
		&add{
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			size: 6.5rem;
			min-width: 6.5rem;
			background-color: color($color__gray3 a(0.75));
			&-{
				&img{
					text-align: center;
					margin-top: 1.25rem;
					color: $color__font--secondary;
				}
				&icon{
					max-width: 2.875rem;
					max-height: 2.875rem;
					fill: currentColor;
				}
				&text{
					text-align: center;
					font-size: 0.75rem;
					color: $color__font--secondary;
					line-height: 2rem;
				}
			}
		}
		&body{
			position: relative;
			width: 100%;
			height: 6.5rem;
			img{
				width: 100%;
				height: 100%;
			}
			amp-img{
				width: 100%;
				height: 100%;
			}
			amp-carousel{
				height: 100%;
			}
		}
		&stars{
			z-index: 2;
			position: absolute;
			top: 0.75rem;
			right: 1rem;
		}
		&file{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0;
			cursor: pointer;
		}
		&item{
			height: 100%;
		}
		&carousel{
			height: 100%;
			&:hover{
				.gallery__carousel-arrow{
					display: block;
				}
			}
			&-{
				&arrow{
					z-index: 10;
					display: none;
					position: absolute;
					top: 50%;
					transform: translate(0, -50%);
					&--{
						&prev{
							left: 1rem;
						}
						&next{
							right: 1rem;
						}
					}
				}
				&icon{
					max-width: 2rem;
					max-height: 2rem;
					fill: currentColor;
					color: $color--primary;
				}
			}
		}
	}
}