$margin : 1rem;
$margin-big : 4rem;
.search{

	position: relative;
	z-index: 1;
	
	display: flex;
	justify-content: space-between;
	height: 3.75rem;
	width: 37.5rem;
	max-width: 100%;
	@media(--tablet-less){
		&:not(._active){
			display: none;
		}

		z-index: 11;
		position: fixed;
		top: $margin-big;
		left: 0;
		width: 100%;
	}
	@media(--tablet-only){
		width: 35rem;
	}
	// pseudo-classes

	// mods

	// pseudo-elements
	
	// elements
	&__{
		&area{
			position: relative;
			width: 100%;
			border: 1px solid #d4d4d4;
		}
		&info{
			position: absolute;
			top: 50%;
			right: 1rem;
			transform: translate(0, -50%);

			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			color: $color__font--primary;
			cursor: pointer;
			&:hover &-list{
				display: block;
			}
			&-{
				&active{
					font-family: Arial;
					font-size: 0.75rem;
					font-style: italic;
				}
				&list{
					display: none;
					box-sizing: border-box;

					position: absolute;
					top: 99%;
					right: 0;
					z-index: 3;

					min-width: 100%;
					max-width: 300px;
					padding: 1rem;
					text-align: center;
					font-size: 1rem;
					background-color: $color--secondary;
				}
				&item{
					white-space: nowrap;
					padding: 0.5rem 0;
					cursor: pointer;
					&:hover{
						color: $color--primary;
					}
				}
			}
		}
		&input{
			box-sizing: border-box;
			padding: 0 2rem;
			width: 100%;
			height: 100%;
			border-top-left-radius: $radius--secondary;
			border-bottom-left-radius: $radius--secondary;
			color: color($color__font--primary a(0.5));
			font-family: $font-family--primary;
			font-size: 1.125rem;
			font-weight: 400;
			border: 0;
			outline: none;
			@media(--tablet-less){
				padding: 0 1rem;
				font-size: 0.85rem;
			}
		}
		&button{
			padding: 0 1.25rem;
			line-height: 3.75rem;
			font-size: 1rem;
			text-transform: uppercase;
			border-top-right-radius: $radius--secondary;
			border-bottom-right-radius: $radius--secondary;
			@media(--tablet-less){
				min-width: 50px;
				padding: 0 0.75rem;
			}
			&:focus{
				background-color: $color__gray2;
			}
			&-{
				&text{
					@media(--tablet-less){
						display: none;
					}
				}
				&icon{
					max-width: 1.5rem;
					max-height: 1.5rem;
					vertical-align: middle;
					fill: currentColor;
					color: $color--secondary;
					@media(--tablet-more){
						display: none;
					}
				}
			}
		}
	}
}